@import "src/styles/variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.leftImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #e2fffa;
  border-radius: 0px 64px 64px 0px;
}

.leftImage img {
  display: block;
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

.rightAuth {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.arrow {
  position: absolute;
  margin-top: 35px;
  margin-left: 45px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: $darkColor;
  padding-bottom: 32px;
}

h1 span {
  color: $greenColor;
}

.containerForm {
  padding: 120px 176px 0 80px;
}

.formAuth {
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06),
  2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  width: 100%;
}

@media (max-width: 1919px) {
  h1 {
    font-size: 36px;
    line-height: 47px;
    padding-bottom: 20px;
  }
  .leftImage img {
    width: 570px;
    height: 516px;
  }
  .leftImage {
  }
  .containerForm {
    padding: 120px 96px 0 60px;
  }
  .arrow {
    margin-top: 35px;
    margin-left: 42px;
    width: 104px;
    height: 64px;
  }

}

@media (max-width: 1220px) {
  .containerForm {
    padding: 0;
  }
  h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .container {
    flex-direction: column-reverse;
  }
  .leftImage {
    width: 100%;
    height: 316px;
    background: #E2FFFA;
    border-radius: 32px 32px 0px 0px;

  }
  .leftImage img {
    width: 266px;
    height: 240px;
  }
  .rightAuth {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 60px 0 40px 0;
    height: auto;
  }
  .formAuth {
    max-width: 566px;;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 31px;
  }
  .leftImage {
    height: 199px;

  }
  .leftImage img {
    width: 177.06px;
    height: 160px;
  }
  .rightAuth {
    margin: 40px 0 66px 0;
    height: auto;

  }
  .formAuth {
    max-width: 375px;
    padding: 20px;
  }


}

@media screen and (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .container {
    zoom: 0.8;
  }
  .leftImage {
    height: 125vh;
  }
}

@media screen and (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .wrapper {
    zoom: 0.65;
  }
  .leftImage {
    height: 140vh;
  }
}