$fontFamily: "Gilroy";
$darkColor: #263834;
$greenColor: #1b9b85;
$textRed: red;
$lightGrayColor: #dbdbdb;
$bgLight: #f9fffe;
$elementsGreen: #7debd9;
$maxWidth: 1920px;
$maxBreakpoints: 1800px;
$mediumBreakpoints: 1200px;
$minBreakpoints: 650px;
