@import "src/styles/variables";
.icon {
  width: 22px;
  height: 22px;
  fill: $lightGrayColor;
  stroke: $lightGrayColor;
  transition: all 200ms;
  &:hover {
    fill: $darkColor;
    stroke: $darkColor;
  }
}
