@import "src/styles/variables";

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(38, 50, 56, 0.32);
    z-index: 1;
  }
}

.form {
  width: 704px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);
  z-index: 2;
  background: #ffffff;
  box-shadow: -2px -2px 16px rgba(39, 222, 191, 0.06),
    2px 2px 16px rgba(39, 222, 191, 0.06);
  border-radius: 20px;
  padding: 32px;
  & div {
    position: relative;
    width: 100%;
  }
  & h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $darkColor;
    margin-bottom: 12px;
    text-align: center;
  }
  & h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $darkColor;
    text-align: center;
    margin-bottom: 24px;
  }
}

.registrButton {
  margin-bottom: 0;
  margin-top: 24px;
}

@media (max-width: 1220px) {
  .form {
    width: 458px;
    padding: 24px;

    & h2 {
      font-size: 32px;
      line-height: 42px;
    }
  }
}

@media (max-width: 768px) {
  .form {
    width: 335px;
    padding: 20px;

    & h2 {
      font-size: 24px;
      line-height: 31px;
    }
    label {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media screen and (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 1.25) {
  .wrapper {
    zoom: 0.8;
  }
}
@media screen and (min-width: 1220px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .wrapper {
    zoom: 0.65;
  }
}