.react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker__day--selected {
    background-color: #1b9b85;

}
.react-datepicker__day--in-range {
    background-color: #1b9b85;
}

.react-datepicker__day--in-range:hover {
    background-color: #55c6ab;
}
